<!-- Icono del carro de compra. Muestra además la cantidad de elementos agregado al "cart". Al hacer click me despliega la UI del cart-->
<template name="cartIcon">
	<!-- Agrega Data Cotext -->
	{{#with cart}}
		<!-- <div class="cart-icon"> -->
		<div class="btn btn-{{#if showCartIconWarning}}warning{{else}}info{{/if}} cart-icon">
			<span data-event-category="cart" data-event-action="cart-click" data-event-label="cart toggle click" data-event-value="{{_id}}">

				<!-- <i class="fa fa-shopping-bag fa-2x"></i> -->
				<i class="fa fa-shopping-cart fa-2x"></i>
			</span>
			<!--
			{{#if showCartIconWarning}}
				<div class="badge badge-warning">!</div>
			{{/if}}
			-->
			<div class="badge">{{orElse cartCount 0}}</div>
		</div>
	{{/with}}
</template>
