<!-- Template para mostrar las orders -->
<template name="orders">
	<div class="container-fluid-sm">
		<!-- Recorro cada una de las ordenes  -->
		{{#each orders}}
			<div class="panel panel-default order-panel">
				<div class="panel-heading">
					<div class="order-details">
						<!-- Dirección -->
						<div class="col-xs-4 order-detail-item address">
							{{> orderDetail}}
						</div>

						<!-- status de la compra -->
						<div class="col-xs-4 order-detail-item status">
							{{> orderStatusDetail}}
						</div>

						<!-- Resumen del pago (sub total | shipping | total )-->
						<div class="col-xs-4 order-detail-item summary">
							{{> ordersListSummary}}
						</div>
					</div>
					<!-- Boton -->
					<div class="order-controls">
						{{> orderViewButton}}
					</div>
				</div>
				<!-- Resumen de todos los artículos comprados -->
				<div class="order-panel-items">
					{{> ordersListItems}}
				</div>
			</div>
		{{else}}
			<!-- Se agrega mensaje cuando no hay ordenes disponibles -->
			<div class="alert alert-info">
				<span data-i18n="cartCompleted.noOrdersFound">No orders found.</span>
			</div>
		{{/each}}
	</div>
</template>

<!-- Status de la compra -->
<template name="orderStatusDetail">
	<div class="col-xs-12">
		<!-- Detalle de la creación de la Order -->
		<div data-i18n="orderDetail.created">Created {{orderAge}} {{dateFormat createdAt format="MMM D"}}</div>
		<!-- En caso de existir, agregar información de shipping -->
		{{#if shipmentTracking}}
			<p>Tracking: <a href="#">{{shipmentTracking}}</a></p>
		{{/if}}
	</div>
</template>

<!-- Botom para edición de Order -->
<template name="orderViewButton">
	<button class="btn btn-success" type="button"><i class="fa fa-edit"></i></button>
</template>
