<!-- Corresponde al Header de la UI -->
<template name="layoutHeader">
	<div class="container-fluid">
		<div class="nav" role="navigation">
			<div class="row navbar-shop">
				<div class="navbar-brand">{{> headerBrand}}</div>
				<!-- Icono del Cart -->
				<div class="navbar-cart">{{> cartIcon}}</div>
				<!-- Cart Panel -->
				<div class="cart-alert">{{> cartPanel}}</div>
				<!--
					Aca llamo al template accounts ( Que esta en el package eframework-accounts)
					Le paso como parametro "loginDropdown", que corresponde al template que quiero que accounts llame
					El template accounts utilza dynamics templates!!.
				-->

				<!-- Menu relaacionado con las cuentas ( create, resset, log-in) -->
				<div class="navbar-accounts">{{> accounts tpl="loginDropdown"}}</div>
				<!-- Menu de seleccion de idioma -->
				<div class="navbar-languages ">{{> i18nChooser}}</div>
			</div>
			<!-- TODO: para que es este tag ?? -->
			<!-- TODO: se sapa por las fotos
 			<div class="row navbar-primary-tags">
				<div class="navbar-tags">{{> headerTags}}</div>
			</div>
			-->
		</div>
	</div>
</template>
