<!-- Template para cuando no se encuentra la página  -->
<template name="notFound">
	<nav class="eframework-navigation-header">{{> layoutHeader}}</nav>
	<main role="main" id="main">
		<div class="container-fluid">
			<h1>Lo sentimos!<small> Página no encontrada.</small></h1>
		</div>
	</main>
	<footer class="eframework-navigation-footer">{{> layoutFooter}}</footer>
</template>

<!-- Template para cuando no se encuentra el prdocuto  -->
<template name="productNotFound">
	<h1>Lo sentismos!<small> Este producto no existe o no esta disponible en estos momentos.</small></h1>
</template>
